# Data loading 

Here we will be using the ```.parquet``` file we downloaded and do the following:
 - Check metadata and table datatypes of the paraquet file/table
 - Convert the paraquet file to pandas dataframe and check the datatypes. Additionally check the data dictionary to make sure you have the right datatypes in pandas, as pandas will automatically create the table in our database.
 - Generate the DDL CREATE statement from pandas for a sanity check.
 - Create a connection to our database using SQLAlchemy
 - Convert our huge paraquet file into a iterable that has batches of 100,000 rows and load it into our database.

In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [2]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2025-05.parquet')

<pyarrow._parquet.FileMetaData object at 0x7e42fe054900>
  created_by: parquet-cpp-arrow version 16.1.0
  num_columns: 20
  num_rows: 4591845
  num_row_groups: 5
  format_version: 2.6
  serialized_size: 13507

In [3]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2025-05.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double
cbd_congestion_fee: double

In [4]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4591845 entries, 0 to 4591844
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 648.1+ MB

We need to first create the connection to our postgres database. We can feed the connection information to generate the CREATE SQL query for the specific server. SQLAlchemy supports a variety of servers.

In [5]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [6]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.

## Finally inserting data

There are 2,846,722 rows in our dataset. We are going to use the ```parquet_file.iter_batches()``` function to create batches of 100,000, convert them into pandas and then load it into the postgres database.

In [7]:
#This part is for testing


# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

# Creating just the table in postgres
#df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-05-01 00:07:06,2025-05-01 00:24:15,1,3.70,1,N,140,202,1,18.4,4.25,0.5,4.85,0.00,1.0,29.00,2.5,0.00,0.75
1,2,2025-05-01 00:07:44,2025-05-01 00:14:27,1,1.03,1,N,234,161,1,8.6,1.00,0.5,4.30,0.00,1.0,18.65,2.5,0.00,0.75
2,2,2025-05-01 00:15:56,2025-05-01 00:23:53,1,1.57,1,N,161,234,2,10.0,1.00,0.5,0.00,0.00,1.0,15.75,2.5,0.00,0.75
3,2,2025-05-01 00:00:09,2025-05-01 00:25:29,1,9.48,1,N,138,90,1,40.8,6.00,0.5,11.70,6.94,1.0,71.94,2.5,1.75,0.75
4,2,2025-05-01 00:45:07,2025-05-01 00:52:45,1,1.80,1,N,90,231,1,10.0,1.00,0.5,1.50,0.00,1.0,17.25,2.5,0.00,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2025-05-01 20:24:58,2025-05-01 20:45:03,1,2.41,1,N,161,239,1,18.4,1.00,0.5,4.83,0.00,1.0,28.98,2.5,0.00,0.75
99996,2,2025-05-01 20:10:07,2025-05-01 20:35:50,1,4.49,1,N,140,246,1,25.4,2.50,0.5,6.53,0.00,1.0,39.18,2.5,0.00,0.75
99997,2,2025-05-01 20:40:47,2025-05-01 20:59:28,1,4.02,1,N,246,140,1,20.5,1.00,0.5,5.25,0.00,1.0,31.50,2.5,0.00,0.75
99998,2,2025-05-01 20:20:48,2025-05-01 20:26:39,1,0.99,1,N,237,140,1,7.9,1.00,0.5,2.73,0.00,1.0,16.38,2.5,0.00,0.75
99999,2,2025-05-01 20:28:47,2025-05-01 20:31:53,1,0.58,1,N,140,140,1,5.8,1.00,0.5,2.50,0.00,1.0,13.30,2.5,0.00,0.00

In [8]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      6.378 seconds.

inserting batch 2...
inserted! time taken      5.828 seconds.

inserting batch 3...
inserted! time taken      6.513 seconds.

inserting batch 4...
inserted! time taken      5.997 seconds.

inserting batch 5...
inserted! time taken      6.046 seconds.

inserting batch 6...
inserted! time taken      5.704 seconds.

inserting batch 7...
inserted! time taken      5.655 seconds.

inserting batch 8...
inserted! time taken      7.066 seconds.

inserting batch 9...
inserted! time taken      6.046 seconds.

inserting batch 10...
inserted! time taken      6.165 seconds.

inserting batch 11...
inserted! time taken      5.768 seconds.

inserting batch 12...
inserted! time taken      5.635 seconds.

inserting batch 13...
inserted! time taken      6.632 seconds.

inserting batch 14...
inserted! time taken      5.940 seconds.

inserting batch 15...
inserted! time taken      6.314 seconds.

inserting batch 16...
inserted! time taken      6.214 seconds.

inserting batch 17...
inserted! time taken      5.687 seconds.

inserting batch 18...
inserted! time taken      6.165 seconds.

inserting batch 19...
inserted! time taken      5.363 seconds.

inserting batch 20...
inserted! time taken      5.482 seconds.

inserting batch 21...
inserted! time taken      5.468 seconds.

inserting batch 22...
inserted! time taken      5.714 seconds.

inserting batch 23...
inserted! time taken      8.125 seconds.

inserting batch 24...
inserted! time taken      5.381 seconds.

inserting batch 25...
inserted! time taken      5.677 seconds.

inserting batch 26...
inserted! time taken      5.546 seconds.

inserting batch 27...
inserted! time taken      5.650 seconds.

inserting batch 28...
inserted! time taken      5.484 seconds.

inserting batch 29...
inserted! time taken      8.099 seconds.

inserting batch 30...
inserted! time taken      5.542 seconds.

inserting batch 31...
inserted! time taken      5.347 seconds.

inserting batch 32...
inserted! time taken      5.505 seconds.

inserting batch 33...
inserted! time taken      5.370 seconds.

inserting batch 34...
inserted! time taken      8.169 seconds.

inserting batch 35...
inserted! time taken      5.228 seconds.

inserting batch 36...
inserted! time taken      5.477 seconds.

inserting batch 37...
inserted! time taken      5.333 seconds.

inserting batch 38...
inserted! time taken      5.389 seconds.

inserting batch 39...
inserted! time taken      5.159 seconds.

inserting batch 40...
inserted! time taken      5.952 seconds.

inserting batch 41...
inserted! time taken      5.623 seconds.

inserting batch 42...
inserted! time taken      5.413 seconds.

inserting batch 43...
inserted! time taken      5.274 seconds.

inserting batch 44...
inserted! time taken      5.329 seconds.

inserting batch 45...
inserted! time taken      4.923 seconds.

inserting batch 46...
inserted! time taken      5.459 seconds.

Completed! Total time taken was    270.453 seconds for 46 batches.

## Extra bit

While trying to do the SQL Refresher, there was a need to add a lookup zones table but the file is in ```.csv``` format. 

Let's code to handle both ```.csv``` and ```.paraquet``` files!

In [12]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [13]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-05.parquet'

file_name = url.rsplit('/', 1)[-1].strip()
file_name

'yellow_tripdata_2025-05.parquet'

In [14]:
if '.csv' in file_name:
    print('yay') 
    df = pd.read_csv(file_name, nrows=10)
    df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
elif '.parquet' in file_name:
    print('oh yea')
    file = pq.ParquetFile(file_name)
    df = next(file.iter_batches(batch_size=10)).to_pandas()
    df_iter = file.iter_batches(batch_size=100000)
else: 
    print('Error. Only .csv or .parquet files allowed.')
    sys.exit()

oh yea

This code is a rough code and seems to be working. The cleaned up version will be in `data-loading-parquet.py` file.